<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Sentiment Analysis</title>
</head>
<body>
    <div align="center">
    <h1>Comment Analyzer by Sentimental Analysis</h1> <h1 align="center">through</h1> <h1>Natural Language Processing</h1>
    <form action="/analyze" method="post">
        <label for="video_url">Enter YouTube Video URL:</label>
        <input type="text" name="video_url" id="video_url" required>
        <button type="submit">Analyze</button>
    </form>
</div>
</body>
</html>
